<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
        <tr>
            <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
            <th><{$MOD.title}></th>
            <td align="right">
                <form class="search_inp mr10" action="?waimai/complaint-index.html" id="SO-form" method="post">
                    <input type="text" name="SO[keywords]" class="inp" placeholder="商户名称、用户联系电话" value="<{$pager.SO.keywords|default:''}>">
                    <input type="submit" class="submit" value="">
                </form>
                <{link ctl="waimai/complaint:so" load="mini:搜索内容" width="mini:500" class="button" title="高级搜索"}></td>
            <td width="15"></td>
        </tr>
    </table>
</div>
<div class="page-data">
    <form id="items-form">
        <table width="100%" border="0" cellspacing="0" class="table-data table">
            <tr>
                <th class="w-50">ID</th>
                <th class="w-50">订单ID</th>
                <th class="w-100">用户名称</th>
                <th class="w-100">商户名称</th>
                <th class="w-100">投诉情况</th>
                <th class="w-150">留言内容</th>
                <th class="w-150">回复</th>
                <th class="w-100">IP</th>
                <th class="w-100">创建时间</th>
                <th class="w-100">操作</th>
            </tr>
            <{foreach $items as $item}>
            <tr>
                <td><label><input type="checkbox" value="<{$item.complaint_id}>" name="complaint_id[]" CK="PRI"/><{$item.complaint_id}><label></td>
                <td><{$item.order_id}></td>
                <td><{$item.member}></td>
                <td><{$item.shop}></td>
                <td><{$item.title}></td>
                <td><{$item.content}></td>
                <td><{$item.reply|default:"未回复"}></td>
                <td><{$item.clientip}></td>
                <td><{$item.dateline|format}></td>
                <td>
                    <{link ctl="waimai/complaint:detail" args=$item.complaint_id class="button" title="查看"}>
                    <{link ctl="waimai/complaint:delete" arg0=$item.complaint_id act="mini:删除" confirm="mini:确定要删除吗？" title="删除" class="button"}>
                </td>
            </tr>
            <{foreachelse}>
            <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
            <{/foreach}>
        </table>
    </form>
    <div class="page-bar">
        <table>
            <tr>
                <td class="w-100"><label><input type="checkbox" CKA="PRI"/>&nbsp;&nbsp;全选</label></td>
                <td colspan="10" class="left"><{link ctl="waimai/complaint:delete" type="button" submit="mini:#items-form" confirm="mini:确定要批量删除吗?" priv="hide" value="批量删除"}>
                <td class="page-list"><{$pagers.pagebar}></td>
            </tr>
        </table>
    </div>
</div>
<{include file="admin:common/footer.html"}>



