<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
        <tr>
            <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
            <th><{$MOD.title}></th>
            <td align="right"><{link ctl="member/tixian:items" priv="hidden" class="button"}></td>
            <td width="15"></td>
        </tr>
    </table>
</div>
<div class="page-data"><form action="?member/tixian-items.html" id="SO-form" method="post">
    <table width="100%" border="0" cellspacing="0" class="table-data form">
        <tr>
            <th>选择用户：</th>
            <td>
                <input type="hidden" name="SO[uid]" value="0" id="hongbao_member_id" />
                <input type="text" value="" id="hongbao_member_uname" class="input w-150"/>
                <{link ctl="member/member:dialog" title="选择用户" select="mini:#hongbao_member_id,#hongbao_member_uname/N/选择用户" class="button"}>
            </td>
        </tr>
        <tr>
            <th>入账状态:</th>
            <td>
                <label><input type="radio" name="SO[status]"  checked="checked" value="0">全部</label>&nbsp;&nbsp;
                <label><input type="radio" name="SO[status]" value="1">未处理</label>&nbsp;&nbsp;
                <label><input type="radio" name="SO[status]" value="2">拒绝</label>&nbsp;&nbsp;

            </td>
        </tr>
        <tr><th>操作时间：</th><td><input type="text" name="SO[stime]" value="" class="input w-100" date="dateline" readonly/>~<input type="text" name="SO[ltime]" value="" class="input w-100" date="dateline" readonly/></td></tr>
        <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="搜 索" /></td></tr>
    </table>
</form></div>
<{include file="admin:common/footer.html"}>