<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right">
        	<a href="javascript:;"  mini-width="500" class="button" title="" id="creatStyle">新建风格</a>
        	<!-- <a href="javascript:;"  mini-width="500" class="button" title="">一键导入</a> -->
        	<{link ctl="adv/export:index" priv="hidden" class="button" title="一键导入"}>
        </td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">
	<!-- 内容-开始 -->
	<div class="clientIndexSet_style">
		<ul>
			<{foreach $items as $item}>
			<li theme-id="<{$item.theme_id}>" title="<{$item.title}>" imgPhoto="<{$item.photo}>">
				<div class="fold"><input type="radio" name="default" <{if $item.default}>checked="checked"<{/if}> class="switch fr"></div>
				<div class="pic">
					<img src="<{$item.photo}>">
					<div class="box">
						<div class="btn_box">
							<button class="btn preview" link="?adv/themes-preview-<{$item.theme_id}>"><i class="ico_yl"></i>预览</button>		<{link ctl="adv/themes:module" arg0=$item.theme_id title="设置" class="btn"}>
							<{link ctl="adv/themes:copy" arg0=$item.theme_id act="mini:复制" title="复制" class="btn"}>
							<{link ctl="adv/themes:delete" arg0=$item.theme_id act="mini:删除" confirm="mini:确定要删除此风格吗？" title="删除" class="btn btn1"}>
						</div>
					</div>
				</div>
				<div class="tit" style="cursor: pointer"><{$item.title}><i class="ico_edit"></i></div>
			</li>
			<{/foreach}>
		</ul>
		<div class="clear"></div>
	</div>
	<!-- 内容-结束 -->

	<!--//新建风格弹层-开始//-->
	<div class="clientIndexSetStyle_mask" style="display: none;">
		<div class="cont_box">
			<div class="title">提示<span class="close"></span></div>
			<form class="cont" style="padding: 20px 30px 0 30px;">
				<table>
					<tr>
						<td class="bt">风格名称：</td>
						<td>
							<input type="" class="inp" name="data[title]" value="">
						</td>
					</tr>

					<tr>
						<td class="bt">封面图片：</td>
						<td>
							<p>不上传即使用默认图片</p>
							<div class="line_box" style="width: 180px; height: 280px;">
								<div class="tip">上传图片</div>
								<input type="file" name="" class="upload">
								<input type="hidden" name="data[photo]" value="">
								<img src="" width="180" height="280">
							</div>
						</td>
					</tr>
				</table>
			</form>
			<div class="btn_box" style="margin: 0 20px;">
				<a class="button cancel">取消</a>
				<a class="button confirm">确定</a>
				<a class="button confirmAndSet">确定并设置</a>
			</div>
		</div>
	</div>
	<!--//新建风格弹层-结束//-->

	<!--预览弹层-开始-->
		<div class="clientIndexSet_phone_mask" style="display: none;">
			<div class="clientIndexSet_phone" style="width: 375px; height: 667px;">
				<iframe class="clientIndexSet_iframe" id="clientIndexSet_iframe" name="clientIndexSet_iframe" width="100%" height="100%" src="" frameborder="0"></iframe>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				$(".preview").click(function(){
					var link = $(this).attr('link');
					$('#clientIndexSet_iframe').attr('src', link);
					$(".clientIndexSet_phone_mask").show();
				});
				$(".clientIndexSet_phone_mask").click(function(){
					$(this).hide();
				});
			});
		</script>
	<!--预览弹层-结束-->	
</div>

<script type="text/javascript">
	var pagerImg = "<{$pager.img}>/";
	var theme_id=0;
    var title,photo,img;

	$(document).ready(function(){
		function upload(){
            $('.upload').on('change',function(){
                var h = $(this);
                var files = $(this)[0]['files'];
                var params = {"photo" : files[0], 'from' : 'theme'};
                Widget.UploadFile("?upload/photo-upload.html", params, function(ret){
                    if(ret.error==0){
                        h.siblings('img').attr('src',pagerImg+ret.data.photo);
                        h.siblings('input').val(ret.data.photo);
                    }else{
                        Widget.MsgBox.error(ret.message);
                    }
                });
            })
        }
        upload();
        
		$("#creatStyle").click(function(){
			themes_id = 0;
			title = '';
			photo = img = 'default/image/theme.png';
			$(".clientIndexSetStyle_mask").find('input[name="data[title]"]').val(title);
			$(".clientIndexSetStyle_mask").find('input[name="data[photo]"]').val(photo);
			$(".clientIndexSetStyle_mask").find('img').attr('src', pagerImg+img);
			$(".clientIndexSetStyle_mask").fadeIn(100);
		});

		$(".clientIndexSetStyle_mask .close,.clientIndexSetStyle_mask .cancel").click(function(){
			$(".clientIndexSetStyle_mask").fadeOut(100);
		});

		$('.clientIndexSet_style li .tit').click(function(){
			theme_id = $(this).parents('li').attr('theme-id');
			title = $(this).parents('li').attr('title');
			photo = img = $(this).parents('li').attr('imgPhoto');
			$(".clientIndexSetStyle_mask").find('input[name="data[title]"]').val(title);
			$(".clientIndexSetStyle_mask").find('input[name="data[photo]"]').val(photo);
			$(".clientIndexSetStyle_mask").find('img').attr('src', img);
			$(".clientIndexSetStyle_mask").fadeIn(100);
		});

		$('input[name="default"]').on('change', function(){
			var id = $(this).parents('li').attr('theme-id');
			var link = "?adv/themes-setDefault-#theme_id#".replace('#theme_id#', id);
			var that = $(this);
			$.post(link, {}, function (e){
				if(e.error > 0){
					$('input[name="default"]').prop('checked', false);
					Widget.MsgBox.error(e.message);
					setTimeout(function(){
						window.location.reload(true);
					}, 2000);
				}else{
					Widget.MsgBox.success(e.message);
				}
			}, 'json');
		});

		$('.clientIndexSetStyle_mask .confirm').click(function(){
			formSubmit(function (e){
				window.location.reload(true);
			});
		});

		$('.clientIndexSetStyle_mask .confirmAndSet').click(function(){
			formSubmit(function (e){
				var link = "?adv/themes-module-#theme_id#".replace('#theme_id#', e);
				window.location.href = link;
			});
		});

		function formSubmit(callback){
			callback = typeof(callback) == 'function' ? callback : function(e){};
			var formdata = $('.clientIndexSetStyle_mask form').serialize();
			var link = "?adv/themes-edit-#theme_id#".replace('#theme_id#', theme_id);
			$.post(link, formdata, function (e){
				if(e.error > 0){
					Widget.MsgBox.error(e.message);
				}else{
					Widget.MsgBox.success(e.message);
					setTimeout(function(){
						callback(e.data);
					}, 2000);
				}
			}, 'json');
		}
	});
</script>

<{include file="admin:common/footer.html"}>