<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt=""></td>
                <th>配送信息</th>
                <td align="right"><{link ctl="waimai/waimai:index" priv="hidden" class="button" title="商家列表"}></td>
                <td width="15"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="page-data">
	<!--向导-->
    <div class="guide_list_box mgb10">
    	<ul>
            <li> <{link ctl="waimai/shop:one" arg0=$shop_id title="店铺信息" target="admin_main"  priv="hide" }></li>
            <li> <{link ctl="waimai/shop:setbusiness" arg0=$shop_id title="营业信息" target="admin_main"  priv="hide"}></li>
            <li> <{link ctl="waimai/shop:two" arg0=$shop_id title="资质信息" target="admin_main"  priv="hide"}></li>
            <li> <{link ctl="waimai/shop:three" arg0=$shop_id title="配送设置" target="admin_main"  priv="hide" class="on"}></li>
            <li> <{link ctl="waimai/shop:four" arg0=$shop_id title="结算信息" target="admin_main"  priv="hide" }></li>
            <li> <{link ctl="waimai/shop:set_print" arg0=$shop_id title="打印机设置" target="admin_main"  priv="hide" }></li>
            <{if $waimai.pei_type=='1'}>
            <li> <{link ctl="waimai/shop:separate" arg0=$shop_id title="单独配置" target="admin_main"  priv="hide" }></li>
            <{/if}>
            <li> <{link ctl="waimai/shop:import" arg0=$shop_id title="导入数据" target="admin_main"  priv="hide"}></li>
            <li> <{link ctl="waimai/huodong:shop" arg0=$shop_id title="活动"  priv="hide"}></li>
            <li> <{link ctl="waimai/shop:comment" arg0=$shop_id title="评论" priv="hide" }></li>
            <li> <{link ctl="waimai/shop:tixian" arg0=$shop_id title="余额日志" priv="hide" }></li>

        </ul>
        <div class="clear-both"></div>
    </div>
    <!--向导end-->
    <div class="songSet_dian mgb10">
        <{link ctl="waimai/waimai:manage" args=$shop_id class="button float-r" target="_blank" priv="hide" title="进入门店"}>
    	<div class="wz_box">
            <h3><{$waimai.title}></h3>
            <p>地址：<{$waimai.addr}></p>
        </div>
        <div class="clear-both"></div>
    </div>
    <form action="?waimai/shop-three-<{$shop_id}>.html" mini-form="shop-form" method="post" enctype="multipart/form-data">
        <p class="form_title">配送设置</p>
        <table width="100%" border="0" cellspacing="0" class="table-data form">
            <tbody id="my_tbody">
            	<tr>
                    <th>配送方式：</th>
                    <td>
                        <label><input type="radio" class="myclass" name="data[pei_type]" <{if $waimai.pei_type == 0}>checked="checked"<{/if}> value="0">商家自主配送</label>
                        <label><input type="radio" class="myclass" name="data[pei_type]" <{if $waimai.pei_type == 1}>checked="checked"<{/if}> value="1">平台配送</label>
                    </td>

                </tr>
                <tr id="my_group1">
                    <th>配送站：</th>
                    <td>
                        <select name="data[group_id]" class="w-200">
                            <option value="">请选择配送站</option>
                            <{foreach $group_list as $v}>
                            <option value="<{$v.group_id}>" <{if $v.group_id==$waimai.group_id}>selected="selected"<{/if}>><{$v.group_name}></option>
                            <{/foreach}>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="100%" border="0" cellspacing="0" class="table-data form">
            <tbody>
                <tr>
                    <th></th>
                    <td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据"></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<script>
    /*$(function(){
        $('.myclass').on('change',function(){
            var  val = $(this).val();
            var format = parseInt(val);
            if(format==1){
               $('#my_group1').show();
            }else{
                $('#my_group1').hide();
            }

        })
        var pei_type = "<{$waimai.pei_type}>";
        if(pei_type=='1'){
            $('#my_group1').show();
        }
    })*/

</script>
<{include file="admin:common/footer.html"}>