<{include file="admin:common/header.html"}>
<link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
        <tr>
            <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
            <th>系统管理平台首页</th>
            <td class="right"></td>
            <td width="15"></td>
        </tr>
    </table>
</div>
<div class="page-data">
    <div class="indexMainBox">
        <div class="indexIframe_r">
            <div class="idx_workOrder" style="height:80px;">
                <div class="txt">联系电话：<i>0551-64278115</i></div>
                <!-- <div class="txt">授权咨询：<a href="javascript:;"><img src="/admin/images/index/qq_btn.png"></a></div> -->
                <div class="txt">授权咨询：<{"800070067"|qq}></div>
                <!-- <a href="" class="btn">提交工单</a> -->
            </div>
            <div id="ijh-wmnews">
                <!-- <div class="idx_news">
                    <h3>最新活动 <a href="#" class="fr">查看更多</a></h3>
                    <ul>
                        <li><a href=""><span>09-27</span>【新优化】江湖外卖新版功...</a></li>
                        <li><a href=""><span>09-27</span>【新优化】江湖外卖新版功...</a></li>
                        <li><a href=""><span>09-27</span>【新优化】江湖外卖新版功...</a></li>
                        <li><a href=""><span>09-27</span>【新优化】江湖外卖新版功...</a></li>
                        <li><a href=""><span>09-27</span>【新优化】江湖外卖新版功...</a></li>
                    </ul>
                </div>
                <div class="idx_news">
                    <h3>产品动态 <a href="#" class="fr">查看更多</a></h3>
                    <ul>
                        <li><a href=""><span>09-27</span>【新优化】江湖外卖新版功...</a></li>
                        <li><a href=""><span>09-27</span>【新优化】江湖外卖新版功...</a></li>
                        <li><a href=""><span>09-27</span>【新优化】江湖外卖新版功...</a></li>
                        <li><a href=""><span>09-27</span>【新优化】江湖外卖新版功...</a></li>
                        <li><a href=""><span>09-27</span>【新优化】江湖外卖新版功...</a></li>
                    </ul>
                </div>
                <div class="idx_news">
                    <h3>热门文章 <a href="#" class="fr">查看更多</a></h3>
                    <ul>
                        <li><a href=""><span>09-27</span>【新优化】江湖外卖新版功...</a></li>
                        <li><a href=""><span>09-27</span>【新优化】江湖外卖新版功...</a></li>
                        <li><a href=""><span>09-27</span>【新优化】江湖外卖新版功...</a></li>
                        <li><a href=""><span>09-27</span>【新优化】江湖外卖新版功...</a></li>
                        <li><a href=""><span>09-27</span>【新优化】江湖外卖新版功...</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div class="indexMain">
            <div class="mB-row mgb10" style="overflow: hidden;">
                <div class="fl" style="width: 24%;">
                    <div class="idx_box idx_shopNum">
                        <div class="idx_tit">店铺/用户数</div>
                        <div class="idx_cont">
                            <a class="list">昨日新增店铺数 <span class="fr num"><{$count['shop']|default:0}></span></a>
                            <a class="list">昨日新增用户数 <span class="fr num"><{$count['member']|default:0}></span></a>
                            <a class="list">短信条数 <span class="fr num"><{$count['sms']|default:0}></span></a>
                        </div>
                    </div>
                </div>
                <div class="fr" style="width: 74%;">
                    <div class="idx_box idx_BusiStatis">
                        <div class="idx_tit">昨日营业统计</div>
                        <div class="idx_cont">
                            <ul>
                                <li><a href="">
                                    <p>交易额（元）</p>
                                    <div class="num"><{$tongji.amounts|default:'0.00'}></div>
                                    <div class="pre">对比前一日：
                                        <{if $tongji_radio.amounts < 0}>
                                        <span class="down"><i class="fa fa-long-arrow-down"></i><{abs($tongji_radio.amounts)|default:'0.00'}>%</span>
                                        <{else}>
                                        <span class="up"><i class="fa fa-long-arrow-up"></i><{abs($tongji_radio.amounts)|default:'0.00'}>%</span>
                                        <{/if}>
                                    </div>
                                </a></li>
                                <li><a href="">
                                    <p>有效订单数（单）</p>
                                    <div class="num"><{$tongji.orders|default:0}></div>
                                    <div class="pre">对比前一日：
                                        <{if $tongji_radio.orders < 0}>
                                        <span class="down"><i class="fa fa-long-arrow-down"></i><{abs($tongji_radio.orders)|default:'0.00'}>%</span>
                                        <{else}>
                                        <span class="up"><i class="fa fa-long-arrow-up"></i><{abs($tongji_radio.orders)|default:'0.00'}>%</span>
                                        <{/if}>
                                    </div>
                                </a></li>
                                <li><a href="">
                                    <p>配送费（元）</p>
                                    <div class="num"><{$tongji.pei_amounts|default:'0.00'}></div>
                                    <div class="pre">对比前一日：
                                        <{if $tongji_radio.pei_amounts < 0}>
                                        <span class="down"><i class="fa fa-long-arrow-down"></i><{abs($tongji_radio.pei_amounts)|default:'0.00'}>%</span>
                                        <{else}>
                                        <span class="up"><i class="fa fa-long-arrow-up"></i><{abs($tongji_radio.pei_amounts)|default:'0.00'}>%</span>
                                        <{/if}>
                                    </div>
                                </a></li>
                                <li><a href="">
                                    <p>客单价（元）</p>
                                    <div class="num"><{$tongji.unit_price|default:"0.00"}></div>
                                    <div class="pre">对比前一日：
                                        <{if $tongji_radio.unit_price < 0}>
                                        <span class="down"><i class="fa fa-long-arrow-down"></i><{abs($tongji_radio.unit_price)|default:"0.00"}>%</span>
                                        <{else}>
                                        <span class="up"><i class="fa fa-long-arrow-up"></i><{abs($tongji_radio.unit_price)|default:"0.00"}>%</span>
                                        <{/if}>
                                    </div>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="idx_box idx_waitDo mgb10">
                <div class="idx_tit">待处理事项</div>
                <div class="idx_cont">
                    <ul>
                        <{foreach $waitdo as $item}>
                            <li><a href="<{$item.link}>"><{$item.label}><span class="num fr"><{$item.count|default:0}></span></a></li>
                        <{/foreach}>
                        <!-- <li><a href="">订单待派单<span class="num fr">10</span></a></li>
                        <li><a href="">维权订单<span class="num fr">10</span></a></li>
                        <li><a href="">商家入驻待审核<span class="num fr">10</span></a></li>
                        <li><a href="">活动待审核<span class="num fr">10</span></a></li>
                        <li><a href="">骑手待认证<span class="num fr">10</span></a></li>
                        <li><a href="">地推待审核<span class="num fr">10</span></a></li>
                        <li><a href="">商家提现待审核<span class="num fr">10</span></a></li>
                        <li><a href="">骑手提现待审核<span class="num fr">10</span></a></li>
                        <li><a href="">地推提现待审核<span class="num fr">10</span></a></li>
                        <li><a href="">商家提现待转账<span class="num fr">10</span></a></li>
                        <li><a href="">骑手提现待转账<span class="num fr">10</span></a></li>
                        <li><a href="">地推待转账<span class="num fr">10</span></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="idx_box idx_funct mgb10">
                <div class="idx_tit">常用功能</div>
                <div class="idx_cont">
                    <ul>
                        <li><a href="?tongji/tongji-index"><img src="/admin/images/index/idxFunt01.png" class="ico">数据统计</a></li>
                        <li><a href="?finance/waimai-bills"><img src="/admin/images/index/idxFunt02.png" class="ico">订单对账</a></li>
                        <li><a href="?waimai/waimai-index"><img src="/admin/images/index/idxFunt03.png" class="ico">商家管理</a></li>
                        <li><a href="?waimai/order-index"><img src="/admin/images/index/idxFunt04.png" class="ico">外卖订单</a></li>
                        <li><a href="?group/staff-index"><img src="/admin/images/index/idxFunt05.png" class="ico">骑手管理</a></li>
                        <li><a href="?adv/waimai-index"><img src="/admin/images/index/idxFunt06.png" class="ico">页面设置</a></li>
                        <li><a href="?member/member-index"><img src="/admin/images/index/idxFunt07.png" class="ico">会员管理</a></li>
                        <li><a href="?system/config-hongbao"><img src="/admin/images/index/idxFunt08.png" class="ico">红包设置</a></li>
                        <li><a href="?system/config-waimaihuodongconfig"><img src="/admin/images/index/idxFunt09.png" class="ico">外卖设置</a></li>
                        <li><a href="?group/group-items"><img src="/admin/images/index/idxFunt10.png" class="ico">配送站管理</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="idx_box idx_course mgb10">
                <div class="idx_tit">使用教程</div>
                <div class="idx_cont">
                    <ul>
                        <li><a href=""><img src="/admin/images/index/idxE01.png" class="ico">网站设置教程</a></li>
                        <li><a href=""><img src="/admin/images/index/idxE02.png" class="ico">网站设置教程</a></li>
                        <li><a href=""><img src="/admin/images/index/idxE03.png" class="ico">网站设置教程</a></li>
                        <li><a href=""><img src="/admin/images/index/idxE04.png" class="ico">网站设置教程</a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!--有最新安全漏洞补丁的时候后台提醒请不要删除该JS-->
<script type="text/javascript" src="http://ijh.cn/index.php?ctl=listen&act=wmnews&cat=waimai&version=<{$smarty.const.JH_VERSION}>.<{$smarty.const.JH_RELEASE}>"></script>
<{include file="admin:common/footer.html"}>