<{include file="admin:common/header.html"}>
<style type="text/css">
    .stime_box,.ltime_box{display: inline-block; position: relative;}
    .stime_box ul,.ltime_box ul{display: none; position: absolute; left: 0; top: 34px; width: 130%; background: #fff; border:1px solid #e6e6e6; max-height: 160px; overflow: auto; z-index: 999}
    .stime_box ul li,.ltime_box ul li{font-size: 12px; color: #333; line-height: 26px; padding: 0 8px; cursor: pointer;}
    .stime_box ul li:hover,.ltime_box ul li:hover{background: #80d1f3;}

    .weekSelctBox{padding-bottom: 20px;}
    .weekSelctBox label{position: relative;display: inline-block;height: 30px;padding: 0 16px;color: #555;font-size: 12px;line-height: 28px;border: 1px solid #bbb;border-radius: 2px;cursor: pointer; margin-right: 10px;}
    .weekSelctBox label input{width: 0; height: 0;opacity: 0;}
    .weekSelctBox label.on{border-color: #108ee7;}
    .weekSelctBox label.on:before{content: " ";position: absolute;right: 0;bottom: 0;width: 0;height: 0;border: 7px solid #108ee7;border-top-color: transparent;border-left-color: transparent;}
    .weekSelctBox label.on:after {content: " ";position: absolute;right: 1px;bottom: 3px;width: 6px;height: 3px;border: 1px solid #fff;border-top-color: transparent;border-right-color: transparent; -webkit-transform: rotate(-59deg);transform: rotate(-59deg);}
</style>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
        <tr>
            <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
            <th><{$MOD.title}></th>
            <td width="15"></td>
        </tr>
    </table>
</div>
<div class="page-data">
    <h4 class="tip-notice">小提示：红包需要设置使用条件、红包金额、过期时间等信息</h4>
    <form action="?hongbao/huodong-create.html" mini-form="config-form" method="post" >
        <input type="hidden" name="K" value="tjhongbao" />
        <table width="100%" border="0" cellspacing="0" class="table-data form">
            <tr>
                <th>活动标题：</th>
                <td><input type="text" name="data[title]" value="" class="input w-200"/></td>
            </tr>

            <tr>
                <th>活动副标题：</th>
                <td><input type="text" name="data[intro]" value="" class="input w-300"/></td>
            </tr>

            <tr>
                <th>是否开启：</th>
                <td>
                    <label><input type="radio" name="data[status]" checked='checked' value="1"/>开启</label>&nbsp;&nbsp;
                    <label><input type="radio" name="data[status]" value="0"/>关闭</label>
                </td>
            </tr>

            <tr>
                <th>限领数量：</th>
                <td><input type="text" name="data[limit]" value="" class="input w-100"/></td>
            </tr>

            <tr>
                <th>背景图：</th>
                <td>
                    <input type="hidden" name="data[background]" value="" />
                    <input type="file" name="data[background]" class="input w-300" style="vertical-align:middle;display:inline;"/>
                    <{if $detail.background}><img src="<{$pager.img}>/<{$detail.background}>" photo="<{$pager.img}>/<{$detail.background}>" class="wh-30" style="vertical-align:middle;display:inline;"/><{/if}>
                    <span class="tip-comment">首页天降红包弹框的头部背景图（建议尺寸640*300）</span>
                </td>
            </tr>

            <tr>
                <th>背景色：</th>
                <td>
                    <!-- <input type="text" name="data[background_color]" value="" class="input w-100"/> -->
                    <div style='text-align:left; margin: 10px 0;'>
                       <input type="hidden" class="fullColor" value="<{$detail.background_color}>" name="data[background_color]"/>
                       <span class="tip-comment">首页天降红包弹框的背景颜色</span>
                   </div>
                </td>
            </tr>

            <tr>
                <th>活动时间：</th>
                <td>
                    <input type="text" name="data[stime]" value="" class="input w-100" date="dateline" readonly="">
                    ~
                    <input type="text" name="data[ltime]" value="" class="input w-100" date="dateline" readonly="">
                    &nbsp;&nbsp;&nbsp;的&nbsp;&nbsp;&nbsp;
                    <input type="text" name="data[times][stime]" value="00:00" onclick="WdatePicker({dateFmt:'H:mm',minDate:'00:00',maxDate:'23:59'})" class="input w-100" readonly/>
                        ~
                    <input type="text" name="data[times][ltime]" value="23:59" onclick="WdatePicker({dateFmt:'H:mm',minDate:'00:00',maxDate:'23:59'})" class="input w-100" readonly/>
                </td>
            </tr>

            <tr>
                <th>活动周期：</th>
                <td>
                    <div class="weekSelctBox">
                        <label class="on"><input type="checkbox" name="data[weeks][]" value="1" checked="checked">星期一</label>
                        <label class="on"><input type="checkbox" name="data[weeks][]" value="2" checked="checked">星期二</label>
                        <label class="on"><input type="checkbox" name="data[weeks][]" value="3" checked="checked">星期三</label>
                        <label class="on"><input type="checkbox" name="data[weeks][]" value="4" checked="checked">星期四</label>
                        <label class="on"><input type="checkbox" name="data[weeks][]" value="5" checked="checked">星期五</label>
                        <label class="on"><input type="checkbox" name="data[weeks][]" value="6" checked="checked">星期六</label>
                        <label class="on"><input type="checkbox" name="data[weeks][]" value="0" checked="checked">星期日</label>
                    </div>
                </td>
            </tr>
        
            <tr>
                <th>红包设置：</th>
                <td style="text-align: left;">
                    <table id="table_hongbao_list" style="border:none;float:left;" class="table-data list w-800">
                        <tr>
                            <th>使用条件(满)</th>
                            <th>红包金额(减)</th>
                            <th>红包期限(天)</th>
                            <th>红包标题</th>
                            <th>红包类型</th>
                            <th>红包使用时间(开始时间~结束时间)</th>
                            <th class="w-100"><a class="jq_add" href="javascript:;"><b>+添加红包</b></a></th>
                        </tr>
                        
                        <tr class="jq_tr" rel="0">
                            <td><input type="text" class="input w-100" name="data[config][0][min_amount]" value=""></td>
                            <td><input type="text" class="input w-100" name="data[config][0][amount]" value=""></td>
                            <td>
                                <div>
                                    <div class="list">
                                        <select name="data[config][0][day]" class="input w-100">
                                            <option selected="selected" value="1">1天</option>
                                            <option value="2">2天</option>
                                            <option value="3">3天</option>
                                            <option value="4">4天</option>
                                            <option value="5">5天</option>
                                            <option value="6">6天</option>
                                            <option value="7">7天</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="input w-150" name="data[config][0][title]" value="" />
                            </td>
                            <td>
                                <div>
                                    <div class="list">
                                        <select name="data[config][0][type]" class="input w-100">
                                            <{foreach $module_config as $kkk=>$vvv}>
                                            <{if $vvv.used}>
                                            <option value="<{$kkk}>"><{$vvv.title}></option>
                                            <{/if}>
                                            <{/foreach}>
                                        </select>

                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="stime_box">
                                    <input type="text" style="display: inline" name="data[config][0][stime]" value="" class="input w-100 stime" time="0" readonly/>
                                    <ul class="time-ul"></ul>
                                </div>
                                    ~
                                <div class="ltime_box">
                                    <input type="text" style="display: inline" name="data[config][0][ltime]" value="" class="input w-100 ltime" time="0" readonly/>
                                    <ul class="time-ul"></ul>
                                </div>   
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
        </table>
    </form>
</div>

<script type="text/tmpl" id="tmpl_tr_hongbao">
    <td>
        <div>
            <div class="list">
                <select name="data[config][__kk__][type]" class="input w-100">
                    <{foreach $module_config as $kkk=>$vvv}>
                    <{if $vvv.used}>
                    <option value="<{$kkk}>" ><{$vvv.title}></option>
                    <{/if}>
                    <{/foreach}>
                </select>
            </div>
        </div>
    </td>
    <td>
        <div class="stime_box">
            <input type="text" style="display: inline" name="data[config][__kk__][stime]" value="" class="input w-100 stime" time="0" readonly/>
            <ul class="time-ul"></ul>
        </div>
            ~
        <div class="ltime_box">
            <input type="text" style="display: inline" name="data[config][__kk__][ltime]" value="" class="input w-100 ltime" time="0" readonly/>
            <ul class="time-ul"></ul>
        </div>
    </td>
</script>
<script>
    $(document).ready(function () {
        $(".jq_add").click(function () {
            var j = $(".jq_tr:last").attr("rel");
            var k = parseInt(j)+1;
            var html = $('#tmpl_tr_hongbao').html();
            var html_place = html.replace('__kk__',k).replace('__kk__',k).replace('__kk__',k);
            $("#table_hongbao_list").append('<tr class="jq_tr" rel="'+k+'">' +
                    '<td><input type="text" class="input w-100" name="data[config]['+k+'][min_amount]" value=""></td>' +
                    '<td><input type="text" class="input w-100" name="data[config]['+k+'][amount]" value=""></td><td>' +
                    '<div><div class="list"><select name="data[config]['+k+'][day]" class="input w-100">' +
                    '<option value="1">1天</option><option value="2">2天</option><option value="3">3天</option>' +
                    '<option value="4">4天</option><option value="5">5天</option><option value="6">6天</option>' +
                    '<option value="7">7天</option></select></div></div></td>' +
                    '<td><input type="text" class="input w-150" name="data[config]['+k+'][title]" value="" /></td>' +
                     ''+  html_place+
                    '<td><a href="javascript:;" class="text-danger jq_delete">删除</a>' +
                    '</td></tr>');
        })
        $("#table_hongbao_list").on('click', '.jq_delete', function () {
            $(this).parent().parent().remove();
        })
    })
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('body').click(function(){
            $('.time-ul').hide();
        });

        $(document).on('click', '.stime', function(){
            var stime = $(this).attr('time');
            var ltime = $(this).parent('.stime_box').siblings('.ltime_box').find('.ltime').attr('time');
            var that = $(this);
            var link = "?hongbao/hongbao-getTime.html";
            $.post(link, {"ltime": ltime}, function (ret) {
                if (ret.error == 0) {
                    var html = '';
                    $.each(ret.data,function(k, v){
                        if(stime == v.time){
                            html += '<li time='+v.time+' style="background-color:#108ee7">'+v.strtime+'</li>';
                        }else{
                            html += '<li time='+v.time+'>'+v.strtime+'</li>';
                        }
                    })                        
                    if(html){
                        that.siblings('.time-ul').html(html);
                    }
                    $('.time-ul').hide();
                    that.siblings('.time-ul').show();
                }
            },'json');
        });

        $(document).on('click', '.ltime', function(){
            var stime = $(this).parent('.ltime_box').siblings('.stime_box').find('.stime').attr('time');
            var ltime = $(this).attr('time');
            var that = $(this);
            var link = "?hongbao/hongbao-getTime.html";
            $.post(link, {"stime": stime}, function (ret) {
                if (ret.error == 0) {
                    var html = '';
                    $.each(ret.data,function(k, v){
                        if(ltime == v.time){
                            html += '<li time='+v.time+' style="background-color:#108ee7">'+v.strtime+'</li>';
                        }else{
                            html += '<li time='+v.time+'>'+v.strtime+'</li>';
                        }
                    })                        
                    if(html){
                        that.siblings('.time-ul').html(html);
                    }
                    $('.time-ul').hide();
                    that.siblings('.time-ul').show();
                }
            },'json');
        });

        $(document).on('click','.time-ul li',function(){
            var time = $(this).attr('time');
            var strtime = $(this).text();
            $(this).parent('.time-ul').siblings('input').attr('time',time);
            $(this).parent('.time-ul').siblings('input').val(strtime);
            $(this).parent('.time-ul').hide();
        });

        $(".weekSelctBox label input").click(function(){
            if($(this).prop('checked')){//获取是否选中 并判断
                $(this).parent().addClass("on"); //修改设置为不选中状态
            }else{
                $(this).parent().removeClass("on");//修改设置为选中状态
            }
        });
    });
</script>

<link rel="stylesheet" href="./script/spectrum/spectrum.css">
<script src="./script/spectrum/spectrum.js"></script>
<script src="./script/spectrum/docs.js"></script>

<{include file="admin:common/footer.html"}>