/*
* @Author: Administrator
* @Date:   2017-12-26 14:24:36
* @Last Modified by:   Administrator
* @Last Modified time: 2018-01-22 09:42:11
*/

/* 地图代码开始 */
html,body{margin:0;padding:0;}
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
/* 地图样式结束 */
.location{
	width: 1100px;
}

/* 联系我们页中部样式开始 */
.con-us{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
.con-us h2{
	text-align: center;
	margin-top: 30px;
	font-family: "Arial";
	font-size: 30px;
}
.con-us h4{
	margin-top: 25px;
	text-align: center;
	font-size:18px;
	margin-bottom: 38px;
	overflow: hidden;
}
.con-us h4 b{
	font-weight: normal;
	float: left;
	display: block;
	width: 160px;
}
.con-us h4:after{
	width: 184px;
	height: 1px;
	content: ''; 
	display: block;
	background: #fff;
	float: left;
	margin-left:0;
	margin-top:12px;
}
.con-us h4:before{
	width:184px;
	height: 1px;
	display: block;
	content: ''; 
	background: #fff;
	float: left;
	margin-left:337px;
	margin-top:12px;
}
.con-list{
	width: 1055px;
	margin-top:58px;
	margin-left: 74px;
}
.con-list li{
	width: 25%;
	float: left;
	text-align: center;
	margin-bottom: 98px;
}
.con-list li span{
	margin-left:93px;
	margin-bottom:7px;
	display: block;
	width: 75px;
	height: 75px;
	background: url("../images/sprite.png") no-repeat -425px -147px;
}
.con-list li:hover span{
	background: url("../images/sprite.png") no-repeat -425px -72px;
}
.con-list li .icon{
	margin-left:95px;
	width: 75px;
	height: 74px;
	background-position:-342px -222px; 
}
.con-list li:hover .icon{
	background-position:-267px -222px;
}
.con-list li:hover .icon2{
	background-position:-339px -347px;
}
.con-list li:hover .icon3{
	background-position:-176px -257px;
}
.con-list li .icon2{
	margin-left:92px;
	width: 77px;
	height: 76px;
	background-position:-417px -222px;
}
.con-list li .icon3{
	margin-left:93px;
	width: 78px;
	height: 78px;
	background-position:-417px -346px;
}
.con-list li p{
	line-height:30px;
	font-size: 14px;
}
.con-list li:hover p{
	color: #ae2f23;
}
.contact{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.con-left{
	width: 424px;
	margin-left: 74px;
	float: left;
	margin-bottom: 80px;
}
.con-left li{
	height: 43px;
	line-height: 43px;
	overflow: hidden;
}
.con-left li span{
	width: 28px;
	height: 28px;
	display: block;
	margin-right: 16px;
	margin-top: 5px;
	float: left;
	background: url("../images/sprite.png") no-repeat -268px -298px;
}
.con-left li .nameicon{
	width: 30px;
	height: 28px;
	background-position:-297px -298px;
}
.con-left li .emailicon{
	width: 31px;
	height: 20px;
	background-position:-327px -298px;
}
.con-left li .telicon{
	width: 30px;
	height: 28px;
	background-position:-358px -298px;
}
.con-left li .addicon{
	width: 30px;
	height: 36px;
	background-position:-387px -298px;
}
.form-list{
	width: 260px;
	clear: both;
}
.form-list input{
	width: 250px;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	border:1px solid #84807e;
	background: #252525;
	padding-left:5px; 
	color: #757676;
}
.form-list div{
	width: 250px;
	height: 84px;
	margin-top: 10px;
	border:1px solid #84807e;
	padding-left:5px; 
	padding-top: 8px;
	overflow: hidden;
}
.form-list textarea{
	width: 250px;
	height: 84px;
	border: 0;
	background: #252525;
	resize: none;
	color: #757676;
	
}
.form-list .lastinput{
	width: 136px;
}
.form-list p{
	width: 250px;
	height: 30px;
	display: block;
	margin-top: 10px;
}
.form-list p img{
	width: 54px;
	height: 30px;
	float: left;
	cursor: pointer;
}
.form-list p a{
	color: #757676;
	padding-top: 14px;
	padding-left: 10px;
	display: block;
	float: left;
}
.form-list p a:hover{
	color: #d84133;
}
.form-list button{
	width: 48px;
	height: 32px;
	line-height: 32px;
	background: #d84133;
	border: 0;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
	float: right;
	cursor: pointer;
}
.con-right{
	width: 633px;
	float: left;
	margin-bottom: 80px;
}

/* 联系我们页中部样式结束 