<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<title>banner添加</title>
<?php include('app/admin/view/public/meta.html'); ?>
<!--/meta 作为公共模版分离出去-->


</head>
<body>
<article class="cl pd-20">
	<form class="form form-horizontal" id="form-admin-add" method="post" enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>分组选择：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<select name="group">
					<option value="0" >--请选择分组--</option>
					<?php foreach($navarr as $k=>$v) {?>
						<option value='<?php echo $v["Id"]; ?>' ><?php echo $v["name"]; ?></option>
					<?php }?>
						
				</select>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>banner图：</label>
			<div style=" display: inline-block;">
				<input type="file" id="file"  name="img" style="border: none;" />
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius"  type="submit" id="submit" value="提交" />
				<input class="btn btn-primary radius"  type="button" value="取消" onclick="history.back(-1)" />
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<?php include('app/admin/view/public/footer.html'); ?>

<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="public/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="public/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="public/lib/jquery.validation/1.14.0/messages_zh.js"></script> 

<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>

<script type="text/javascript">
	$(function(){
		
		function getObjectURL(file) {
//  	
	        var url = null ;
	        if (window.createObjectURL!=undefined) { // basic
	            url = window.createObjectURL(file) ;
	        } else if (window.URL!=undefined) { // mozilla(firefox)
	            url = window.URL.createObjectURL(file) ;
	        } else if (window.webkitURL!=undefined) { // webkit or chrome
	            url = window.webkitURL.createObjectURL(file) ;
	        }
	        return url ;
	    }
		
	    $('#file').change(function() {
	        var eImg = $('<img />');
	        eImg.attr('src', getObjectURL($(this)[0].files[0])); // 或 this.files[0] this->input
	        $(this).before(eImg)
	        
	    });
    
		
		
		
	})
</script>